.DS_Store
Thumbs.db

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/
bower_components/

dist/
build/
out/
*.o
*.so
*.a
*.dylib

__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env

*.class
target/

.vscode/
.idea/
*.iml

*.tmp
*.swp
*.bak

coverage/
*.coverage
*.vscode-test/
