annoy
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
attrs
Babel
backcall
beautifulsoup4
bleach
blis
catalogue
cffi
charset-normalizer
click
comm
contourpy
cycler
cymem
debugpy
decorator
defusedxml
dnspython
entrypoints
executing
faiss-cpu
fastjsonschema
filelock
Flask
fonttools
fqdn
huggingface-hub
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
isoduration
itsdangerous
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
kiwisolver
langcodes
MarkupSafe
matplotlib
matplotlib-inline
mistune
murmurhash
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
notebook_shim
numpy
packaging
pandas
pandocfilters
parso
pathy
pexpect
pickleshare
Pillow
pkgutil_resolve_name
platformdirs
preshed
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
Pygments
pymongo
pyparsing
pyrsistent
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
regex
requests
rfc3339-validator
rfc3986-validator
scikit-learn
scipy
seaborn
Send2Trash
sentence-transformers
sentencepiece
six
smart-open
sniffio
soupsieve
srsly
stack-data
terminado
thinc
threadpoolctl
tinycss2
tokenizers
tomli
torch
torchvision
tornado
tqdm
traitlets
transformers
typer
typing_extensions
uri-template
urllib3
wasabi
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
zipp
uvicorn
psycopg2-binary
